
#profileLeft
{
	float:left;
	padding:20px;
	width:270px;
}

#profileRight
{
	float:left;
	padding:20px;
}

.profileAvatar
{
	margin:18px 30px;
}
.profileHeader
{
	border-bottom:1px solid #848480;
	padding-bottom:10px;
}
.profileTable
{
	float:right;
	border-spacing:0 20;
}
.profileTable td
{
	padding-right:10px;
}